<p>cart-list works!</p>

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Cart Id</th>
                <th>Login Id</th>
                <th>Product Id</th>  
                 
            </tr>
        </thead>
        <tbody>
              <tr *ngFor="let c of cartList;">              
                <td> {{c.cartId}} </td>
                <td> {{c.loginId}} </td>
                <td> {{c.prdId}} </td>                       
               
            </tr>
        </tbody>
    </table>
</div>