<div class="container">
    <div class="cover"></div>
    <div class="content">
        <div class="nav">
            <span class="logo">Headphone</span>
            <span><i class='fab fa-sistrix' style='font-size:24px'></i></span>
        </div>
        <div class="content-body">
            <div class="pages">
                <span class="active"><b>01</b></span>
                <span>02</span>
                <span>03</span>
                <span>04</span>
            </div>
            <div class="black-label">
                <span class="title"><b>Boat Headphone</b></span>
                <p>BoAt distributes a line of teathered wireless earbuds under its Rockerz and BoAt brands.
                    </p>
                    <p> Like with most wired headphones and earbuds, BoAt's devices connect to a standard headphone jack on mobile devices, computers, stereo systems, and other audio-outputting devices. BoAt's devices draw power from the audio source into which they're plugged in and do not require power from a dedicated amplifier. The company's over-ear and on-ear headphones, as well as its in-ear earbuds offer a degree of passive noise cancellation by partially occluding the wearer's ear canals from external sound.</p>
           
                        <div class="prix">
                           <span><b>2500.00</b></span>
                           <!-- <span class="crt">Add to cart</span> -->
                       </div>
                       </div> 
                      </div>
    </div>
</div>

<br>
<hr>
<div class="container">
    <div ><img width="100%" src="/assets/images/sh.png" alt=""></div>
    <div class="content">
        <div class="nav">
            <span class="logo">Shoes</span>
            <span><i class='fab fa-sistrix' style='font-size:24px'></i></span>
        </div>
        <div class="content-body">
            <div class="pages">
                <span class="active"><b>01</b></span>
                <span>02</span>
                <span>03</span>
                <span>04</span>
            </div>
            <div class="black-label">
                <span class="title"><b> Women's Shoes</b></span>
                <p>Non-slip polyurethane is used as the soles,suppleness and long-lasting comfort.; Realizing the high elasticity
                    COMFORTABLE SOLE:EXTREMLY SOLE AND UPPER MATERIAL FOR ALL DAY COMFORT AND SHOCK PROOF
                    OCCASION TYPE:PARTY,CASUAL,WEDDING
                    Durable Soft Leather High Quality, Fashionable & Comfortable high heels.
                    </p>
                    <p>Smooth synthetic front, side and heel panel overlays for added stability.
                        </p>
           
                        <div class="prix">
                           <span><b>$30.00</b></span>
                           <!-- <span class="crt">Add to cart</span> -->
                       </div>
                       </div>  
           
        </div>
        
    </div>
</div>

<br>
<hr>
<div class="container">
    <div ><img width="90%" src="/assets/images/sh2.png" alt=""></div>
    <div class="content">
        <div class="nav">
            <span class="logo">Watch</span>
            <span><i class='fab fa-sistrix' style='font-size:24px'></i></span>
        </div>
        <div class="content-body">
            <div class="pages">
                <span class="active"><b>01</b></span>
                <span>02</span>
                <span>03</span>
                <span>04</span>
            </div>
            <div class="black-label">
                <span class="title"><b>Apple Watch SE</b></span>
                <p>Wallet. Store your boarding pass, movie tickets or rewards cards for easy access.
                    Siri. Do almost everything on Apple Watch — ask for directions, 
                    get a weather report or play a song — just by talking to Siri.
                    Find Devices. Find People. Find Items. Locate devices or get pinged when you leave your iPhone behind. See where your friends are.
                     Track down an AirTag. Do it all from your watch.
                    </p>
                    <p>Noise. The Noise app lets you know when high noise levels around you can possibly affect your hearing. </p>
                    Camera Remote. Use Apple Watch as a viewfinder for your iPhone camera.
                    See a preview, then set a timer or just snap away.
                        <div class="prix">
                           <span><b>$100.00</b></span>
                           <!-- <span class="crt">Add to cart</span> -->
                       </div>
                       </div>  
           
        </div>
        
    </div>
</div>
<br>
<hr>
<div class="container">
    <div ><img src="/assets/images/ja.png" class="jacket"  alt=""></div>
    <div class="content">
        <div class="nav">
            <span class="logo">jacket</span>
            <span><i class='fab fa-sistrix' style='font-size:24px'></i></span>
        </div>
        <div class="content-body">
            <div class="pages">
                <span class="active"><b>01</b></span>
                <span>02</span>
                <span>03</span>
                <span>04</span>
            </div>
            <div class="black-label">
                <span class="title"><b>Seasons Jacket</b></span>
                <p> 
                    jackets themed with a  winter-style design, often worn during the festive season. 
                    They are often leather. A more traditional approach is a roll neck (or "turtleneck") top-pulled garment.
                    </p>
                    <p>Black Matted Long Sleeves Jacket </p>
           
                        <div class="prix">
                           <span><b>$10.00</b></span>
                           <!-- <span class="crt">Add to cart</span> -->
                       </div>
                       </div>  
           
        </div>
        
    </div>
</div>