<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <h3>Get to know about Shopp-E</h3>
                <p>Shopp-E One Stop For All Your Shopping Needs!
                </p>
                <div class="button">
                    <a routerLink="/read-more">Read More</a>
                </div>
            </div>
            
        </div>
        <div class="image-section">
            <img src="https://previews.123rf.com/images/deagreez/deagreez1909/deagreez190901603/129733567-full-length-body-size-photo-of-cheerful-trendy-stylish-carefree-cute-attractive-gorgeous-woman-rejoi.jpg?fj=1">
        </div>
    </div>
</div>








