<p>login-list works!</p>

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Login Id</th>
                <th>First Name</th>
                <th>Last Name</th>  
                <th>Email</th>  
                <th>Contact</th>  
                <th>Password</th>  
                <th>Address</th>  
            </tr>
        </thead>
        <tbody>
              <tr *ngFor="let u of userList;">              
                <td> {{u.loginId}} </td>
                <td> {{u.fName}} </td>
                <td> {{u.lName}} </td>                     
                <td> {{u.email}} </td>
                <td> {{u.contact}} </td>
                <td> {{u.password}} </td>
                <td> {{u.address}} </td>
            </tr>
        </tbody>
    </table>
</div>