<div  class="box">
  <h1>Login</h1>
  <br>
    <input type="text"  [(ngModel)]="loginId" size="10" placeholder="Username"/>
    <input type="password" [(ngModel)]="password" size="10" placeholder="Password"/>
    <br>
    <button type="button" class="btn btn-outline-dark" (click)="onSearch()" value="Login" >LOGIN</button> &nbsp; &nbsp;
    <button type="button" class="btn btn-outline-dark" (click)="onSearch1()" value="Login" >SignUp</button>  <br><br>
    <div  *ngIf="notFound">Please Enter The Valid Details.</div>
</div>