<br><br><br>
<div class="body">
<div class="wrapper">  

  
    <br>
    <br>

    <div class="card">
      <img src="assets/images/hd2.png" alt="">
      <div class="content">
        <div class="row">
          <div class="details">
            <span>Headphone</span>
            <p>Boat headphone</p>
          </div>
          <div class="price">Rs.2999</div>
        </div>
        <div class="buttons">
          <button (click)="saveit()">Buy Now</button>
          <button (click)="saveit1()" class="cart-btn">Add to Cart</button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="card">
      <img src="assets/images/sh1.png" alt="">
      <div class="content">
        <div class="row">
          <div class="details">
            <span>TV</span>
            <p>SONY Led TV</p>
          </div>
          <div class="price">Rs.15766</div>
        </div>
        <div class="buttons">
          <button (click)="saveit()">Buy Now</button>
          <button (click)="saveit1()" class="cart-btn">Add to Cart</button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="card">
      <img src="assets/images/watch.jpg" alt="">
      <div class="content">
        <div class="row">
          <div class="details">
            <span>Watch</span>
            <p>Apple Watch SE</p>
          </div>
          <div class="price">Rs.15000</div>
        </div>
        <div class="buttons">
          <button (click)="saveit()">Buy Now</button>
          <button (click)="saveit1()" class="cart-btn">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
   <br>
   <br>
</div>
<!-- 2nd row starts -->
<div class="body">
    <div class="wrapper">
        
        <br>
        <br>
    
        <div class="card">
          <img src="assets/images/ef.png" alt="">
          <div class="content">
            <div class="row">
              <div class="details">
                <span>AirPods</span>
                <p>Apple Airpods</p>
              </div>
              <div class="price">Rs.19999</div>
            </div>
            <div class="buttons">
              <button (click)="saveit()">Buy Now</button>
              <button (click)="saveit1()" class="cart-btn">Add to Cart</button>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="card">
          <img src="assets/images/ja.png" alt="">
          <div class="content">
            <div class="row">
              <div class="details">
                <span>jacket</span>
                <p>Black Jacket</p>
              </div>
              <div class="price">Rs.1999</div>
            </div>
            <div class="buttons">
              <button (click)="saveit()">Buy Now</button>
              <button (click)="saveit1()" class="cart-btn">Add to Cart</button>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="card">
          <img src="https://media.istockphoto.com/photos/seat-picture-id509287090?k=20&m=509287090&s=612x612&w=0&h=DFku5Qnb7-kX3f_ovEIUQvlCRnDGSC-Eus2g_pT9RYM=" alt="">
          <div class="content">
            <div class="row">
              <div class="details">
                <span>Chair</span>
                <p> RED Chair </p>
              </div>
              <div class="price">Rs.1999</div>
            </div>
            <div class="buttons">
              <button (click)="saveit()">Buy Now</button>
              <button (click)="saveit1()" class="cart-btn">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
       <br>
       <br>
    </div>

    <!-- 3rd row start -->

    <div class="body">
        <div class="wrapper">
            
            <br>
            <br>
        
            <div class="card">
              <img src="https://purepng.com/public/uploads/large/purepng.com-barbie-dollbarbiefashion-dolltoybusinesswomanbild-lilli-1701528527065faxn4.png" alt="">
              <div class="content">
                <div class="row">
                  <div class="details">
                    <span>Toy</span>
                    <p>Barbie/p>
                  </div>
                  <div class="price">Rs.1000</div>
                </div>
                <div class="buttons">
                  <button (click)="saveit()">Buy Now</button>
                  <button (click)="saveit1()" class="cart-btn">Add to Cart</button>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="card">
              <img src="https://freepikpsd.com/file/2019/10/elegant-dress-png-1-Transparent-Images.png" alt="">
              <div class="content">
                <div class="row">
                  <div class="details">
                    <span>Gown</span>
                    <p>Party Gown</p>
                  </div>
                  <div class="price">Rs.3000</div>
                </div>
                <div class="buttons">
                  <button (click)="saveit()">Buy Now</button>
                  <button (click)="saveit1()" class="cart-btn">Add to Cart</button>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="card">
              <img src="https://media.istockphoto.com/photos/professional-mirrorless-camera-picture-id458989151?b=1&k=20&m=458989151&s=170667a&w=0&h=olp5dq0ukCxc9xtiJnBejXKAHfOysYZEWV1flHEGuwM=" alt="">
              <div class="content">
                <div class="row">
                  <div class="details">
                    <span>Camera</span>
                    <p>Sony Camera</p>
                  </div>
                  <div class="price">Rs.89999</div>
                </div>
                <div class="buttons">
                  <button (click)="saveit()">Buy Now</button>
                  <button (click)="saveit1()" class="cart-btn">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
           <br>
           <br>
        </div>
  <script src="./main.js"></script>










  <!-- <img src="assets/images/watch.jpg" alt=""> -->