
 <section class="main">
   <div class="main-wrapper">
     
      <div class="detel">
         <h1>Welcome To <br> <span> Shopp-E!!</span></h1>
         <p> LIVE YOUR LIFE IN COLOUR!</p>
         <p>Look Better...! Live Better...! </p>
         <a href="/producthome">SHOP NOW!</a>
     </div> 
     
     <div class="images">
   
         <img src="assets/images/cart4.png" class="cart">
     </div> 
     </div>
     
 </section>
<section class="deal" id="deal">
    
   <h1 class="heading"> <span> best deals </span> </h1>
   
   <div class="box-container">
   
       <div class="box box1">
           
           <div class="content">
               <h3>latest Laptop</h3>
               <p>upto 15% off </p>
               <a href="#"><button class="btn">explore</button></a>
           </div>
       </div>
   
       <div class="box box2">
           
           <div class="content">
               <h3> Headphone</h3>
               <p>upto 25% off </p>
               <a href="#"><button class="btn">explore</button></a>
           </div>
       </div>
   
   </div>
   
   <div class="icons-container">
   
       <div class="icons">
           <i class="fas fa-shipping-fast"></i>
           <h3>Fast Delivery</h3>
           
       </div>
   
       <div class="icons">
           <i class="fas fa-user-clock"></i>
           <h3>24 x 7 Support</h3>
           
       </div>
   
       <div class="icons">
           <i class="fas fa-money-check-alt"></i>
           <h3>Easy Payments</h3>
         
       </div>
   
       <div class="icons">
           <i class="fas fa-box"></i>
           <h3>15 days replacements</h3>
           
       </div>
   
   </div>
   
   </section>





<router-outlet></router-outlet> 
